*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#4facfe,#00f2fe);

}

.login-card{

border:none;

border-radius:20px;

animation:slide 1s;

}

input{

height:50px;

}

.btn{

transition:.4s;

}

.btn:hover{

transform:scale(1.05);

}

footer{

background:#222;

color:white;

text-align:center;

padding:15px;

position:fixed;

bottom:0;

width:100%;

}

@keyframes slide{

from{

opacity:0;

transform:translateY(-50px);

}

to{

opacity:1;

transform:translateY(0);

}

}